<?xml version='1.0' encoding="utf-8"?>
<feed>
{% for product in products %}
    <product>
        <id>{{ product.id }}</id>
        <title>{{ product.title }}</title>
        <description><![CDATA[{{ product.description }}]]></description>
        <model>{{ product.model }}</model>
    </product>
{% endfor %}
</feed>
